<!DOCTYPE html>
<!--[if lt IE 6]>
<html class="ie ie6" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 10]>
<html class="ie ie10" lang="ru" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

<head itemscope itemtype="http://schema.org/WPHeader">
  <!-- DEVELOPER -->
  <!-- https://github.com/TheWitcher1991 -->

  <!-- SEO -->
  <meta charset="UTF-8" />

  <title itemprop="headline">ЮМП - Настоящий южный вкус</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta itemprop="description" name="description" content="" />
  <meta itemprop="keywords" name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="content-language" content="ru" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://poleznoemaslo.ru.ru" />

  <meta name="author" content="© 2026 ООО «ЮМП»" />
  <meta name="copyright" content="© 2026 ООО «ЮМП»" />

  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://poleznoemaslo.ru" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="" />
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="" />

  <meta property="twitter:title" content="" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:url" content="" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="" />
  <meta name="twitter:domain" content="poleznoemaslo.ru" />
  <meta name="twitter:site" content="@poleznoemaslo.ru" />
  <meta name="twitter:creator" content="@poleznoemaslo.ru" />

  <meta name="hostname" content="poleznoemaslo.ru" />
  <meta name="expected-hostname" content="" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="shortcut icon" href="../public/logo.png" type="image/x-icon" />
  <link rel="icon" href="../public/logo.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="../public/logo.png" />

  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://poleznoemaslo.ru",
        "name": "",
        "description": ""
      }
    </script>

  <!-- LIBS -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- STYLES -->
  <link rel="stylesheet" href="../static/font/font.css?v=<?= date('YmdHis') ?>" />
  <link rel="stylesheet" href="../static/styles/vars.css?v=<?= date('YmdHis') ?>" />
  <link rel="stylesheet" href="../static/styles/normalize.css?v=<?= date('YmdHis') ?>" />
  <link rel="stylesheet" href="../static/styles/wrapper.css?v=<?= date('YmdHis') ?>" />
  <link rel="stylesheet" href="../static/styles/media.css?v=<?= date('YmdHis') ?>" />
</head>

<body>
  <div class="gs">
    <div class="content">
      <main id="main">
        <header id="header">
          <section class="section-container section-header">
            <nav class="nav">
              <div class="logo nav-blur">
                <img src="../public/Logo.svg" alt="ЮМП" width="32" height="32" />
                ЮМП
              </div>
              <div class="nav-menu nav-blur">
                <a href="#about">О команде</a>
                <a href="#product">Наш продукт</a>
                <a href="#why">Почему мы</a>
                <a href="#clients">Для кого</a>
              </div>
              <a class="nav-contact nav-blur" href="#contact">Контакты</a>
            </nav>
            <div class="hero-block">
              <div class="hero-text">ЮМП</div>
              <div class="hero-caption">настоящий южный вкус</div>
            </div>
          </section>
        </header>

        <section class="section-about">
          <div id="about" class="section-container">
            <div class="section-title">
              О нашей
              <div class="section-title-highlight-base">команде</div>
            </div>
            <div class="section-about-base">
              <div class="section-about-text">
                Мы — небольшая, но очень тёплая команда из Ставрополья.
                <br /><span class="section-about-text-caption">
                  Искренне верим, что натуральные продукты могут быть одновременно
                  вкусными и по‑настоящему полезными. Именно поэтому мы делаем наше
                  сливочное масло — 100% натуральное, без единой растительной
                  добавки, с улучшенным жирнокислотным составом.
                </span>
              </div>
              <div class="section-about-text-second-block">
                <div class="section-about-text-second">
                  Сотрудничаем с лабораторией Ставропольского ГАУ: <span class="section-about-text-caption">именно там
                    определяем качество молока</span>
                </div>
                <a href="https://stgau.ru/" target="_blank" class="section-about-text-second-stgau">
                  <img src="../public/stgau.svg" alt="stgau" width="30" height="29" />
                  Подробнее
                  <i class="ti ti-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <img class="section-title-image" src="../public/peoples.png" alt="peoples" />
        </section>

        <section id="product" class="section-container section-product">
          <div class="section-title">
            Но как
            <div class="section-title-highlight-base">из обычного молока</div>
            получается наше
            <div class="section-title-highlight-second">особенное масло</div>
          </div>
          <div class="section-product-mix">


            <img class="section-product-image" src="../public/mix-text.png" alt="mix" />
          </div>
        </section>

        <section class="section-why">
          <div id="why" class="section-container">
            <div class="section-title">
              почему стоит выбирать
              <div class="section-title-highlight-white">наше масло</div>
            </div>

            <div class="section-why-text">
              Представь: тот же любимый вкус, но теперь каждый кусочек — как
              маленький подарок для твоего здоровья!
            </div>

            <img class="section-why-image" src="../public/maslo.png" alt="maslo" />
          </div>
        </section>

        <section id="clients" class="section-container section-clients">
          <div class="section-title">
            а для чего
            <div class="section-title-highlight-base">подойдет</div>
            наше масло?
          </div>

          <div class="section-clients-text">
            Для всего, где нужен вкус и забота, как полезный штрих в еде — главное
            понемножку и с любовью 🤎
          </div>

          <div class="feats">
            <div class="feat feat-1">
              <div class="feat-title">ДЛЯ ЗДОРОВЬЯ</div>
              <div class="feat-caption">забота каждый день</div>
            </div>
            <div class="feat feat-2">
              <div class="feat-title">ДЛЯ УДОВОЛЬСТВИЯ</div>
              <div class="feat-caption">радость в каждом кусочке</div>
            </div>
            <div class="feat feat-3">
              <div class="feat-title">ДЛЯ КРАСОТЫ</div>
              <div class="feat-caption">да, и так можно!</div>
            </div>
          </div>
        </section>

        <section id="contact" class="section-container section-contact">
          <div class="contact-block">
            <div class="contact-block-title">ХОТИТЕ ПОПРОБОВАТЬ?</div>
            <div class="contact-block-caption">
              Настоящее масло, которое заботится о тебе — вкусное, полезное и с
              южным теплом
            </div>
            <a class="contact-block-href" href="mailto:poleznoemaslo@yandex.ru">Хочу попробовать</a>
          </div>
        </section>

        <footer id="footer">
          <section class="section-container section-footer">
            <div class="footer-blocks">
              <div class="logo">
                <img src="../public/Logo.svg" alt="ЮМП" width="48" height="48" />
                ЮМП
              </div>

              <div class="footer-block">
                <div class="footer-block-title">Для клиентов</div>
                <div class="footer-block-list">
                  <a href="#about">О команде</a>
                  <a href="#product">Наш продукт</a>
                  <a href="#why">Почему мы</a>
                  <a href="#clients">Для кого</a>
                </div>
              </div>

              <div class="footer-block">
                <div class="footer-block-title">Наша почта</div>
                <div class="footer-block-list">
                  <a href="mailto:poleznoemaslo@yandex.ru">poleznoemaslo@yandex.ru</a>
                </div>
              </div>
            </div>
            <div class="footer-fasie">
              <img src="../public/fasie.svg" width="127" height="66" />
              Проект создан при поддержке Федерального государственного бюджетного
              учреждения "Фонд содействия развитию малых форм предприятий"
              в научно-технической сфере в рамках программы «Студенческий стартап»
              федерального проекта «Платформа университетского технологического
              предпринимательства»
            </div>
          </section>
          <div>ООО «Южный молочный продукт» © 2026</div>
        </footer>
      </main>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <script>
    new WOW({
      boxClass: "wow",
      animateClass: "animated",
      offset: 80,
      mobile: false,
      live: true,
    }).init();
  </script>

  <script src="../static/scripts/index.js?v=<?= date('YmdHis') ?>"></script>
</body>

</html>