@charset "UTF-8";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-base-brand);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

summary {
    display: list-item;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -apple-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -rim-box-sizing: border-box;
    -xv-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

ul, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

a, button, input, select, option, textarea {
    font-family: var(--font-text);
    outline: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font: var(--font);
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    min-width: 320px;
    line-height: 1.4;
    color: var(--color-base-brand);
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--color-bg);
}