#header {
    background: url("../../public/ump.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}

.section-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-blur {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 10px;
    background: var(--color-head);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 999px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 0;
    gap: 8px;
}

.nav-contact {
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.nav-menu {
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    gap: 18px;

}

.nav-menu a {
    cursor: pointer;
    color: var(--color-white);
    padding: 0 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-contact {
    color: var(--color-white);
    cursor: pointer;
}

.nav-contact:hover {
    background: var(--color-white);
    color: var(--color-base-brand);
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero-block {
    margin-bottom: 50px;
}

.hero-text {
    font-weight: 700;
    font-size: 84px;
    line-height: 1;
    max-width: 510px;
}

.hero-caption {
    font-weight: 500;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.1;
    max-width: 300px;
}

.hero-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-base-brand);
    margin: 0 auto;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

.section-title-highlight-base {
    border: 3px solid var(--color-bg);
    padding: 12px 16px;
    height: 74px;
    background: var(--color-second-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--color-white);
    transform: rotate(2deg);
}

.section-title-highlight-second {
    border: 3px solid var(--color-bg);
    padding: 12px 16px;
    height: 74px;
    background: var(--color-base-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--color-white);
}

.section-title-highlight-white {
    border: 3px solid var(--color-base-brand);
    padding: 12px 16px;
    height: 74px;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--color-base-brand);
    transform: rotate(2deg);
}

.section-title-image {
    width: 100%;
    height: 573px;
    object-fit: cover;
    object-position: center;
}

.section-why {
    background: url("../../public/texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

.section-why .section-title {
    color: var(--color-white);
}

.section-about-base {
    display: flex;
    justify-content: space-between;
    color: var(--color-base-brand);
    gap: 159px;
}

.section-about-text {
    font-weight: 540;
    font-size: 26px;
}

.section-about-text-second {
    font-weight: 540;
    font-size: 18px;
}

.section-about-text-caption {
    color: rgba(119, 78, 61, 0.6);
}

.section-product-image {
    object-fit: cover;
    width: 769px;
    height: 755px;
}

.section-product-mix {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 106px;
    position: relative;
}

.section-about {
    border-radius: 32px 32px 0 0;
    margin-top: -50px;
    background: var(--color-bg);
}

.section-why-text {
    font-weight: 540;
    font-size: 26px;
    text-align: center;
    max-width: 822px;
    color: rgba(242, 215, 193, 0.6);
    margin: 0 auto;
}

.section-why-image {
    margin: 0 auto;
    height: 640px;
    max-width: 1077px;
}

.section-clients-text {
    font-weight: 540;
    font-size: 26px;
    text-align: center;
    color: var(--color-tiny);
    max-width: 821px;
    margin: 0 auto;
}

.feats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feat {
    border: 5px solid var(--color-white);
    border-radius: 32px;
    width: 450px;
    height: 450px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 7px;
    text-align: center;
}

.feat-1 {
    transform: rotate(3deg);
    background: url("../../public/feat-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-2 {
    transform: rotate(-3deg);
    background: url("../../public/feat-2.png");
    background-position: center;
    background-size: cover;
    z-index: 100;
    background-repeat: no-repeat;
}

.feat-3 {
    transform: rotate(9deg);
    background: url("../../public/feat-3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--color-white);
}

.feat-caption {
    font-weight: 500;
    font-size: 24px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.6);
}

.contact-block {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 371px;
    border-radius: 64px;
    background: url("../../public/contact.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
}

.contact-block-title {
    font-weight: 700;
    font-size: 36px;
}

.contact-block-caption {
    font-weight: 400;
    font-size: 24px;
    margin: 8px 0 24px 0;
    max-width: 720px;
}

.contact-block-href {
    border-radius: 32px;
    padding: 10px 16px;
    height: 52px;
    font-weight: 540;
    font-size: 24px;
    color: var(--color-bold-brand);
    background: var(--color-white);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#footer {
    padding: 35px 60px;
    background: url("../../public/footer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 35px;
    color: var(--color-white);
}

.section-footer {
    padding: 35px;
    background: var(--color-bold-brand);
    border-radius: 64px;
}

.footer-fasie {
    font-weight: 540;
    font-size: 16px;
    padding: 13px 26px;
    display: flex;
    align-items: center;
    gap: 12px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    text-align: left;
}